@import "bootstrap/scss/bootstrap";

.container {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

fieldset {
	margin-bottom: 1.25rem;
}

.field_with_errors {
	color: #fff;
	background-color: #dc3545;
}
